:root {
  --primary-color: #7f2c30;
  --primary-color-soft: #4c1b1e;
  --text-color: #000;
  --background-color:#FAFAFA;
  --error-color: #EF4444;
}

:root.dark {
  --primary-color: #fff;
  --text-color: #fff;
  --background-color: #1B2430;
  --error-color: #F87171;
}

*::selection {
  background-color: #4c1b1e !important;
  color: #fff !important;
}

body {
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    /*Montserrat,*/
    -apple-system,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif;
}