:root {
  --primary-color: #000;
  --text-color: #000;
  --background-color: #FAFAFA;
  --error-color: #EF4444;
}

:root.dark {
  --primary-color: #fff;
  --text-color: #fff;
  --background-color: #1B2430;
  --error-color: #F87171;
}

body {
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
  font-family:
    /*Montserrat,*/
    -apple-system,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif;
}